@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nohemi:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');


@import 'tailwindcss';

@theme {
  --font-roboto: 'Roboto', 'sans-serif';
  
  --font-montserrat: 'Montserrat', sans-serif;
  --font-nohemi: 'Nohemi', sans-serif;
  --font-display: 'Oswald', 'sans-serif', 'Roboto';
  --font-initial: initial;
  --font-primary: 'Oswald', 'sans-serif';
  --font-poppins: 'Poppins', 'serif';

  --color-primary: var(--color-red-500);
  --color-secondary: var(--color-blue-500);
  --color-sidebarbuttonsbg-500: var(--Green-lemon-GD, linear-gradient(249deg, #ABD27B 9.4%, #39B54A 89.96%));
  --color-twitterblue: #1da1f2;
  --color-orange-500: #ffa500;
  --color-green-500: #016324;
  

  --Neutral-Neutral1000: #2c3033;

  --Secondary-Secondary100: #d9f6fa;

  --breakpoint--*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
